/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  background: url('/img/b3.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 900px;
  display: flex;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.login-left, .login-right {
  flex: 1;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 32px;
  margin-bottom: 20px;
   color: #ffec99;
}

.login-left p {
  margin-top: 10px;
  font-size: 14px;
  color: #ddd;
}

.social-icons {
  margin-top: 20px;
  font-size: 24px;
}

.social-icons i {
  margin-right: 15px;
  cursor: pointer;
}

.login-right h2 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
   color: #ffec99;
}

.login-right form label {
  font-size: 14px;
  margin-bottom: 6px;
}

.login-right form input[type="text"],
.login-right form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.2);
  color: white;
}

.login-right form input::placeholder {
  color: rgba(255,255,255,0.7);
}

.terms {
  font-size: 12px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.terms input[type="checkbox"] {
  margin-right: 8px;
}

.terms a {
  color: #f14e4e;
  text-decoration: none;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: darkred;
}

.signup-link {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
}

.error {
  color: #ff4d4f;
  margin-bottom: 15px;
  font-size: 14px;
}
